/* Shading background images */
@media print {
  section[data-background-image] .slide-background {
    background-color: rgba(0,0,0,0.80);
    background-blend-mode: overlay;
  }
}
section[data-background-image] {
  background-color: rgba(0,0,0,0.80);
}

.reveal section h2 {
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.reveal section h2:after {
  content: "";
  display: block;
  margin: auto;
  width: 30%;
  border-bottom: 1px solid;
}

.imgbox {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.imgbox > div {
  flex: 1;
}
.reveal section .imgbox img {
  border: none;
}

/* Persistent header/footer */
.slides .header, .slides .footer {
  position: absolute;
  left: -50%;
  font-size: 60%;
}
.slides .header {
  top: -50%;
}
.slides .footer {
  bottom: 50%;
}
